* {
    box-sizing: border-box;
}

h1 {
    color: red;
}

h2 {
    color: blue;
}

p {
    font-size: 16px;
    line-height: 24px;
}

img {
    border: 5px solid gray;
    width: 100%;
    padding: 5px;
}
