* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.photos {
    float:left;
    width: 45%;
    margin-top: 30px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.photos img {
    width:100%;
    border-style: solid;
    border-width: 1px
}

.videos {
    float:right;
    width:45%;
    margin-top: 30px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.videos img {
    width:100%;
    border-style: solid;
    border-width: 1px
}

article p {
    clear:both;
}
