* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

#wrapper{
    border-left-style: solid;
    border-left-width: 15px;
    border-left-color: #D8ECFF;
    border-right-style: solid;
    border-right-width: 15px;
    border-right-color: #D8ECFF;
    border-bottom-style: solid;
    border-bottom-width: 15px;
    border-bottom-color: #D8ECFF;
    height: 100vh;
}

h1 {
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width:100%;
    text-align:center;
    background-color: #D8ECFF;
}

header h1{
    font-size: 36pt;
    color: black;
    font-weight: 400
}

header h1:hover{
    color: #43627F
}

header a{
    text-decoration: none;
}

nav {
    margin-bottom: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
    text-align: center;
    width:100%;
    border-bottom-style:solid;
    border-bottom-width: 15px;
    border-bottom-color: #D8ECFF;
}

nav a{
    margin-right:8%;
    margin-left: 7%;
    font-size: 12pt;
    line-height: 5px;
    text-decoration: none;
    color: black;
    font-family: arial, helvetica, sans-serif;
}

nav a:visited{
    color: black;
}

nav a:hover{
    color: #43627F;
    text-decoration: underline;
}

article {
    margin-top: 40px;
    margin-left: 5%;
    margin-right:5%;
    clear:both;
}

article h1{
    margin-left:2.5%;
}

article h2{
    margin-top: 10px;
    margin-left:2.5%;
    font-weight: 100
}
.photos {
    float:left;
    width: 45%;
    margin-top: 15px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.photos img {
    width:100%;
    border-style: solid;
    border-width: 1px;
    min-height: 80px;
}

.photos p {
    text-align:center;
}

.videos p {
    text-align:center;
}

.videos {
    float:right;
    width:45%;
    margin-top: 15px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.videos img { 
    width:100%;
    border-style: solid;
    border-width: 1px
}

.videowrapper { /*http://alistapart.com/article/creating-intrinsic-ratios-for-video*/
    position: relative;
    padding-bottom: 56.25%; /*gives it the 16:9 ratio remember*/
    padding-top: 25px;
    height: 0;
}

.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

article p {
    clear:both;
}

.quote p {
    font-size: 8px;
    font-family: arial, helvetica, sans-serif;
    text-align: center;
}

footer {
height: 0;
font-family: arial, helvetica, sans-serif;
font-size: 10px;
}