* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

#wrapper{
    height: 100vh;
}

h1 {
    font-size: 18pt;
    font-family: Gotham, Arial, sans-serif;
    margin-left: 2%;
}

h2 {
    font-size: 16pt;
    font-family: Gotham, Arial, sans-serif;
    margin-bottom: 10px
}

p{
    font-family: Gotham, Arial, sans-serif;
    margin-left: 2.5%;
    margin-bottom: 10px;
    line-height: 1.5;
}

header {
    width:100%;
    text-align:center;
    background-color: #D8ECFF;
}

header h1{
    font-size: 36pt;
    color: black;
    font-weight: 400;
    color: #434B52;
}

header h1:hover{
    color: #43627F
}

header a{
    text-decoration: none;
}

nav {
    margin-bottom: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
    text-align: center;
    width:100%;
    border-bottom-style:solid;
    border-bottom-width: 15px;
    border-bottom-color: #D8ECFF;
    border-left-style: solid;
    border-left-width: 15px;
    border-left-color: #D8ECFF;
    border-right-style: solid;
    border-right-width: 15px;
    border-right-color: #D8ECFF;
}

nav a{
    margin-right:8%;
    margin-left: 7%;
    font-size: 12pt;
    line-height: 5px;
    text-decoration: none;
    color: black;
    font-family: Gotham, Arial, sans-serif;
}

nav a:visited{
    color: black;
}

nav a:hover{
    color: #43627F;
    text-decoration: underline;
}

article {
    margin-top: 40px;
    margin-left: 5%;
    margin-right:5%;
}

article h1{
    margin-left:10%;
}

article h2{
    margin-top: 10px;
    margin-left:10%;
    font-weight: 100
}
.photos {
    float:left;
    width: 45%;
    margin-top: 15px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.photos img {
    width:100%;
    border-style: solid;
    border-width: 1px;
    min-height: 80px;
}

.photos p {
    text-align:center;
}


.videos2 {
    float:right;
    width:45%;
    margin-top: 15px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.videos2 p {
    text-align:center;
}

.videos1 {
    float:right;
    width:45%;
    margin-top: 15px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.videos1 p {
    text-align:center;
}

.videowrapper { /*http://alistapart.com/article/creating-intrinsic-ratios-for-video*/
    position: relative;
    padding-bottom: 56.25%; /*gives it the 16:9 ratio remember*/
    padding-top: 25px;
    height: 0;
}

.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

article p {
    clear:both;
}

.abouth1 {
    margin-left: 2.2%;
}

.headshot {
    max-height: 300px;
    max-width: 300px;
    min-width: 20%;
    min-height: 20%;
    margin-left: 40%;
    margin-right: 35%;
    float: left;
}

.headshot img{
    height: 100%;
    width: 100%;
}

.about {
    margin-left: 10%;
    margin-right: 10%;
    float: right;
}

.social{
    margin-left: 48%;
    margin-right: 35%;
    clear: both;
}

.social img{
    max-height: 50px;
    max-width: 50px;
    min-height: 50px;
}

.photo1{
    margin-left: 10%;
    margin-right: 30%;
    min-width: 220px;
    
}

.photo1 img{
    max-height: 300px;
    max-width: 100%;
    min-height: 185px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    
}

.photo1 p{
    margin-left: 0;
    min-width: 215px;
}

.photo2{
    margin-left: 10%;
    margin-right: 30%;
    min-width: 220px;
    
}

.photo2 img{
    max-height: 300px;
    max-width: 100%;
    min-height: 185px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.photo2 p{
    margin-left: 0;
    min-width: 215px;
}

.photo3{
    margin-left: 10%;
    margin-right: 30%;
    min-width: 220px;
    
}

.photo3 img{
    max-height: 300px;
    max-width: 100%;
    min-height: 185px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.photo3 p{
    margin-left: 0;
    min-width: 215px;
}

.photo4{
    margin-left: 10%;
    margin-right: 30%;
    min-width: 220px;
    
}

.photo4 img{
    max-height: 300px;
    max-width: 100%;
    min-height: 185px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.photo4 p{
    margin-left: 0;
    min-width: 215px;
}

.photo5{
    margin-left: 10%;
    margin-right: 30%;
    min-width: 220px;
    
}

.photo5 img{
    max-height: 300px;
    max-width: 100%;
    min-height: 185px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.photo5 p {
    margin-left: 0;
    min-width: 215px;
}

.photo6 {
    margin-left: 10%;
    margin-right: 30%;
    min-width: 220px;
    
}

.photo6 img{
    max-height: 300px;
    max-width: 100%;
    min-height: 185px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.photo6 p{
    margin-left: 0;
    min-width: 215px;
}

.quote {
   text-align: center;
}

.quote p {
    font-size: 8px;
    font-family: Gotham, Arial, sans-serif;
    clear: both
}


footer {
font-family: arial, helvetica, sans-serif;
font-size: 10px;

}