* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    line-height: 24px;
}

p {
    margin-bottom: 10px;
    margin-right: 5%
}

header {
    background-color: #000000;
    color: #ffffff;
    height: 45px;
}

header a {
    color: #bbbbbb;
    text-decoration: none;
    margin-right: 20px;
}

header a:hover {
    color: #aaaaaa;
}

header a:active {
    text-decoration: underline;
}

header h1 {
    float: left;
    font-size: 24px;
    font-weight: 300;
    font-family: arial, helvetica, sans-serif;
    padding: 10px;
}

header nav {
    font-family: arial, helvetica, sans-serif;
    float: left;
    margin-top: 12.5px;
}

article {
    clear: both;
}

article h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
}

article h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

aside {
    width: 47.5%;
    background-color: #000000;
    float:right;
    margin-left: 5%
    margin-bottom: 10px;
}

footer {
    font-size: 10px;
    clear:both;
}